<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.simple.dao.DanmuMapper">
    <resultMap id="BaseResultMap" type="com.example.simple.entity.Danmu">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="nn" jdbcType="VARCHAR" property="nn"/>
        <result column="txt" jdbcType="VARCHAR" property="txt"/>
    </resultMap>

    <sql id="Base_Column_List">
      id,nn,txt
    </sql>

</mapper>
